/* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
    position: relative;
    display: flex;    
    flex-wrap: wrap;
    border-radius: 0.7rem;
    background-color: #f1f0fe;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 80%;
    font-size: 14px;
   margin: auto;
    align-items: center;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    padding: 0.5rem 0.5rem ;
    
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: #323290;
    font-weight: bold;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #323290;
    color: white;
    font-weight: 600;
  }