
/* Custom CSS for fine-tuning */
@media (max-width: 640px) {
    .underline-image {
      top: -1.5rem; /* Adjust for smaller screens if necessary */
      width: 40%; /* Adjust size for small screens */
    }
  }
  
  @media (min-width: 1024px) {
    .underline-image {
      top: -5rem; /* Larger screens adjustments */
      width: 72px; /* Ensure size for large screens */
    }
  }
  
  